@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: burlywood;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: dodgerblue;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
